<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="../../public/dist/img/logo.png" alt="AdminLTE Logo" class="brand-image">
    <span class="brand-text font-weight-light">DONGHIEU - PHD</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../public/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">Alexander Pierce</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <% if(user.role === "admin"){ %>
        <li class="nav-item">
          <a href="/mon-hoc" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>
              Môn Học
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/giao-vien" class="nav-link">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Giáo viên
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/hoc-sinh" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Học sinh
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/hknhk" class="nav-link">
            <i class="nav-icon fas fa-school"></i>
            <p>
              Học kỳ & Năm học & khối
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/lop-hoc" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
              Lớp học
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/phan-lop" class="nav-link">
            <i class="nav-icon fas fa-door-open"></i>
            <p>
              Phân lớp
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/quan-ly-tai-khoan" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
              Quản lý tài khoản
            </p>
          </a>
        </li>
        <% } %>
        <% if(user.role === "teacher" || user.role === "admin"){ %>
        <li class="nav-header">Giáo viên</li>
        <li class="nav-item">
          <a href="/quan-ly-diem" class="nav-link">
            <i class="nav-icon far fa-id-card"></i>
            <p>
              Quản lý điểm
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/ds-hoc-sinh" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Danh sách học sinh
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="/ds-giao-vien" class="nav-link">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>
              Danh sách giáo viên
            </p>
          </a>
        </li>
        <% } %>
        <% if(user.role === "student" || user.role === "admin"){ %>
        <li class="nav-header">Học sinh</li>
        <li class="nav-item">
          <a href="/tra-cuu" class="nav-link">
            <i class="nav-icon fas fa-poll"></i>
            <p>
              Tra cứu điểm
            </p>
          </a>
        </li>
        <% } %>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>