<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>THPT Đông Hiếu by PHD</title>
  <link href="../../public/dist/img/logoT.ico" rel="shortcut icon"/>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <% include layouts/head %>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <% include layouts/navbar %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include layouts/sidebar %>

  <!-- Content Wrapper. Contains page content -->
  <div class="Container">
    <%-body%>
  </div>

  <!-- /.content-wrapper -->
  <% include layouts/footer %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<% include layouts/javascript %>
<%- defineContent('pageSectionA') %>
</body>
</html>
