<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">phan-mon</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->

                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Tìm kiếm danh sách phân môn</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-2">
                                <label for="Khoi_id">Khối</label>
                                <select name="Khoi_id" class="form-control Khoi_id" id="Khoi_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="NamHoc_id">Năm học</label>
                                <select name="NamHoc_id" class="form-control NamHoc_id" id="NamHoc_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="LopHoc_id">Lớp học</label>
                                <select name="LopHoc_id" class="form-control LopHoc_id" id="LopHoc_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="HocKy_id">Học kỳ</label>
                                <select name="HocKy_id" class="form-control HocKy_id" id="HocKy_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-success" id="btnFind" name="btnFind"
                                    style="margin-top: 31px;width: 100%;"><i class="fas fa-search"></i></i>&nbsp;
                                    Lọc</button>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                        class="fa fa-plus"></i>&nbsp; Tạo bảng phân môn</button>
                                <button type="button" class="btn btn-success" id="btnExcel" name="btnExcel"><i
                                        class="far fa-file-excel"></i>&nbsp; Xuất excel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách giáo viên được phân công giảng dạy</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblresult" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>MonHoc_id</th>
                                    <th>Tên môn học</th>
                                    <th>GiaoVien_id</th>
                                    <th>Tên giáo viên phụ trách</th>
                                    <th>Thao tác</th>
                                    <th>_id</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<!-- The Modal update -->
<div class="modal fade" id="updatemodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Gán giáo viên</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <form id="frmPut">
                <input type="hidden" id="u_id">
                <input type="hidden" id="MonHoc_id">
                <div class="modal-body">
                    <table id="tblresult-gv" class="table table-bordered table-striped display" style="width: 100%">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>ID</th>
                                <th>Họ</th>
                                <th>Tên</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </form>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitUpdate">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<%- contentFor('pageSectionA')%>
<script src="public/javascripts/PhanMon.js"></script>