<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">phan-lop</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <!-- /.card -->
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Lọc danh sách học sinh của lớp học</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-remove"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="Khoi_id">Khối</label>
                                <select name="Khoi_id" class="form-control Khoi_id" id="Khoi_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="NamHoc_id">Năm học</label>
                                <select name="NamHoc_id" class="form-control NamHoc_id" id="NamHoc_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="LopHoc_id">Lớp học</label>
                                <select name="LopHoc_id" class="form-control LopHoc_id" id="LopHoc_idFilter"
                                    style="width: 100%">
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2">
                                <button type="button" class="btn btn-success" id="btnFind" name="btnFind"
                                    style="margin-top: 31px;width: 100%;"><i class="fas fa-search"></i></i>&nbsp; Lọc DS
                                    học sinh</button>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="card-footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-info" id="btnSync" name="btnSync"><i
                                            class="fas fa-th-list"></i></i>&nbsp; DS-HS Chưa phân lớp</button>
                                    <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                            class="far fa-plus-square"></i>&nbsp; Khởi tạo lớp</button>
                                    <button type="button" class="btn btn-primary" id="btnUpdate" name="btnUpdate"><i
                                            class="far fa-edit"></i>&nbsp; Sửa DS</button>
                                    <button type="button" class="btn btn-success" id="btnExcel" name="btnExcel"><i
                                            class="far fa-file-excel"></i>&nbsp; Xuất excel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title" id="headertext">Danh sách học sinh chưa phân lớp</strong></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-6 col-md-6 col-sm-12">
                                <table id="tableinfo" style="margin-bottom: 50px;width: 100%;">
                                    <tbody>
                                        <tr>
                                            <th>Giáo viên chủ nhiệm:</th>
                                            <td><span id="TenGiaoVien"></span></td>
                                            <th>khối:</th>
                                            <td><span id="TenKhoi"></span></td>
                                        </tr>
                                        <tr>
                                            <th>lớp:</th>
                                            <td><span id="TenLop"></span></td>
                                            <th>Năm học:</th>
                                            <td><span id="TenNamHoc"></span></td>
                                        </tr>
                                        <tr>
                                            <th>Sĩ số</th>
                                            <td><span id="SiSo"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12">
                                <table id="tblresult" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>ID</th>
                                            <th>Họ</th>
                                            <th>Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Quê quán</th>
                                            <th>Ảnh</th>
                                            <th>ID dân tộc</th>
                                            <th>Dân tộc</th>
                                            <th>ID tôn giáo</th>
                                            <th>Tôn giáo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">

                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<!-- The Modal delete-->
<div class="modal fade" id="deletemodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xoá môn học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5></h5>
                <form method="post" class="form-horizontal" id="frmDelete">
                    <input type="hidden" id="r_id">
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmit">Xóa</button>
            </div>

        </div>
    </div>
</div>
<!-- ! The Modal appConfirm-->


<!-- The Modal create -->
<div class="modal fade" id="createModal" style="height: 80%;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo mới danh sách học sinh của lớp học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="frmPost">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <table id="tblresultCreate" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="select_all" value="1"
                                                    id="select-all-create"></th>
                                            <th>ID</th>
                                            <th>Họ</th>
                                            <th>Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Quê quán</th>
                                            <th>Ảnh</th>
                                            <th>ID dân tộc</th>
                                            <th>Dân tộc</th>
                                            <th>ID tôn giáo</th>
                                            <th>Tôn giáo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="frmPost" id="btnSubmitConfirm">Thêm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- ! The Modal create -->


<!-- The Modal update -->
<div class="modal fade" id="updateModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh sửa thông tin môn học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form role="form" id="frmPut">
                    <input type="hidden" id="u_id">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-12">
                                <table id="tblresultUpdate" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="select_all" value="1"
                                                    id="select-all-update"></th>
                                            <th>ID</th>
                                            <th>Họ</th>
                                            <th>Tên</th>
                                            <th>Giới tính</th>
                                            <th>Ngày sinh</th>
                                            <th>Địa chỉ</th>
                                            <th>Quê quán</th>
                                            <th>Ảnh</th>
                                            <th>ID dân tộc</th>
                                            <th>Dân tộc</th>
                                            <th>ID tôn giáo</th>
                                            <th>Tôn giáo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitUpdate">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<%- contentFor('pageSectionA')%>
<script src="public/javascripts/PhanLop.js"></script>