<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Môn Học</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">monhoc</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách môn học</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tblresult" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>ID</th>
                                    <th>Tên tài khoản</th>
                                    <th>Mật khẩu</th>
                                    <th>Loại tài khoản</th>                        
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>STT</th>
                                    <th>ID</th>
                                    <th>Tên tài khoản</th>
                                    <th>Mật khẩu</th>
                                    <th>Loại tài khoản</th>
                                    <th>Thao tác</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary" id="btnAdd" name="btnAdd"><i
                                    class="fa fa-plus"></i>&nbsp; Thêm</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<!-- The Modal delete-->
<div class="modal fade" id="deletemodal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Xoá môn học</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <h5></h5>
                <form method="post" class="form-horizontal" id="frmDelete">
                    <input type="hidden" id="r_id">
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" form="frmDelete" id="btnSubmit">Xóa</button>
            </div>

        </div>
    </div>
</div>
<!-- ! The Modal appConfirm-->


<!-- The Modal create -->
<div class="modal fade" id="editmodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Tạo tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form role="form" id="frmPost" method="Post">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="email">Tên đăng nhập</label>
                                <input type="text" class="form-control" id="c_email" name="email"
                                    placeholder="Tên đăng nhập...">
                            </div>
                            <div class="col-md-6">
                                <label for="password">Mật khẩu</label>
                                <input type="password" class="form-control" id="c_password" name="password"
                                    placeholder="Mật khẩu...">
                            </div>
                            <div class="col-md-6">
                                <label for="role">Loại tài khoản</label>
                                <select name="role" class="form-control" id="c_role" style="width: 100%">
                                    <option value="admin">Quản trị viên</option>
                                    <option value="teacher">Giáo viên</option>
                                    <option value="student" selected>Học sinh</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="frmPost" id="btnSubmitConfirm">Thêm</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- ! The Modal create -->


<!-- The Modal update -->
<div class="modal fade" id="updatemodal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Chỉnh sửa tài khoản</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form role="form" id="frmPut" method="Put">
                    <input type="hidden" id="u_id">
                    <div class="card-body">
                        <div class="row form-group">
                            <div class="col-md-6">
                                <label for="email">Tên đăng nhập</label>
                                <input type="text" class="form-control" id="u_email" name="email"
                                    placeholder="Tên đăng nhập...">
                            </div>
                            <div class="col-md-6">
                                <label for="password">Mật khẩu</label>
                                <input type="password" class="form-control" id="u_password" name="password"
                                    placeholder="Mật khẩu...">
                            </div>
                            <div class="col-md-6">
                                <label for="role">Loại tài khoản</label>
                                <select name="role" class="form-control" id="u_role" style="width: 100%">
                                    <option value="admin">Quản trị viên</option>
                                    <option value="teacher">Giáo viên</option>
                                    <option value="student" selected>Học sinh</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="frmPut" id="btnSubmitUpdate">Cập nhật</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>

        </div>
    </div>
</div>

<%- contentFor('pageSectionA')%>
<script src="javascripts/QuanLyTaiKhoan.js"></script>